<div class="ms-container">
  <div class="row">
    <!-- <div class="col-md-8 col-lg-8"></div> -->
    <div class="">
        <form class="login-box">
            <h4 class="login-heading">Login to MyApp</h4>
            <input type="text" class="form-control" placeholder="Email address" required autofocus><br>
            <input type="password" class="form-control" placeholder="Password" required><br>
            <button class="btn btn-lg btn-primary btn-block" (click)="login()">Sign in</button>
          </form>
    </div>
  </div>
</div>