.md-pic { 
    /* The image used */
    background-image:url('../../assets/fb-img.jpg');

    /* Set rules to fill background */
    min-height: 100%;
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: round;     
    position: fixed;
    top: 0;
    left: 0;
}

/* .md-pic:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #0040315e;
} */